body {
    background-image: url(https://wallpapercave.com/wp/DxCd602.jpg);
    background-size: cover;
    
}

H1 {
    background-color:maroon;
    margin-left: 10px
}

H2 {
    background-color: black;
    margin-left: 10px
}
